@import './Pages/Landing/Login/Login.css';
@import './Components/Banner/Banner.css';
@import './Pages/FindCoach/CoachCard/CoachCard.css';
@import './Pages/FindCoach/CoachModal/CoachModal.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
